<section id="bike-setup">
<h3>Bike Setup</h3>
<ul>
<li><a target="_blank" rel="noopener" href="https://www.stevensbikes.de/en/de/gravel/gravel/gavere-eco/">Bike: Stevens Gavere Eco (2025)</a></li>
<li>Head Unit: Wahoo Elemnt Roam V2</li>
<li><a target="_blank" rel="noopener" href="https://www.polar.com/us-en/sensors/h9-heart-rate-sensor/">Pulsgurt: Polar H9</a></li>
<li><a target="_blank" rel="noopener" href="https://www.amazon.de/-/en/dp/B0D7TNDBD2">Licht: Lichtmeister F100</a></li>
<li><a target="_blank" rel="noopener" href="https://cyclite.cc/en/collections/bags/products/top-tube-bag-02">Oberrohrtasche: Cyclite Top Tube Bag / 02</a></li>
<li><a target="_blank" rel="noopener" href="https://cyclite.cc/en/collections/bags/products/frame-bag-01">Rahmentasche: Cyclite Frame Bag / 01</a></li>
</ul>
</section>
<section id="accessoires">
<h3>Accessoires</h3>
<ul>
<li><a target="_blank" rel="noopener" href="https://geizhals.de/anker-533-power-bank-powercore-30w-v184746.html">Power Bank: Anker 533 (30W)</a></li>
</ul>
</section>
<section id="video-equipment">
<h3>Video Equipment</h3>
<ul>
<li><a target="_blank" rel="noopener" href="https://geizhals.de/dji-osmo-action-4-v137074.html">Action Cam: DJI Osmo Action 4</a></li>
</ul>
</section>
