<table>
  <thead>
    <tr>
      <th>Wochentag</th>
      <th>16:00</th>
      <th>18:00</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Montag</th>
      <td class="a">
        <a href="https://www.youtube.com/playlist?list=PLdqLfCrzPasoRuwmTbxbQapw3QsysvUYP" target="_blank">
          <span>Evolution</span>
        </a>
      </td>
      <td></td>
    </tr>
    <tr>
      <th>Dienstag</th>
      <td class="b">
        <a href="https://www.youtube.com/playlist?list=PLdqLfCrzPasrZ4XTSJPsvijzEvFbOMw5o" target="_blank">
          <span>Elden Ring</span>
        </a>
      </td>
      <td></td>
    </tr>
    <tr>
      <th>Mittwoch</th>
      <td class="a">
        <a href="https://www.youtube.com/playlist?list=PLdqLfCrzPasoRuwmTbxbQapw3QsysvUYP" target="_blank">
          <span>Evolution</span>
        </a>
      </td>
      <td></td>
    </tr>
    <tr>
      <th>Donnerstag</th>
      <td class="b">
        <a href="https://www.youtube.com/playlist?list=PLdqLfCrzPasrZ4XTSJPsvijzEvFbOMw5o" target="_blank">
          <span>Elden Ring</span>
        </a>
      </td>
      <td></td>
    </tr>
    <tr>
      <th>Freitag</th>
      <td class="a">
        <a href="https://www.youtube.com/playlist?list=PLdqLfCrzPasoRuwmTbxbQapw3QsysvUYP" target="_blank">
          <span>Evolution</span>
        </a>
      </td>
      <td></td>
    </tr>
    <tr>
      <th>Samstag</th>
      <td></td>
      <td class="s">
        <a>
          <span>Special</span>
          <span class="sub">Random Projekte wie Let's Tests, Commentaries, Info-Videos, Edits, ...</span>
        </a>
      </td>
    </tr>
    <tr>
      <th>Sonntag</th>
      <td class="b">
        <a href="https://www.youtube.com/playlist?list=PLdqLfCrzPasrZ4XTSJPsvijzEvFbOMw5o" target="_blank">
          <span>Elden Ring</span>
        </a>
      </td>
      <td></td>
    </tr>
  </tbody>
</table>
