<table>
  <thead>
    <tr>
      <th>Wochentag</th>
      <th>16:00</th>
      <th>18:00</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Montag</th>
      <td class="a">
        <span>Evolution</span>
      </td>
      <td></td>
    </tr>
    <tr>
      <th>Dienstag</th>
      <td class="b">
        <span>Elden Ring</span>
      </td>
      <td></td>
    </tr>
    <tr>
      <th>Mittwoch</th>
      <td class="a">
        <span>Evolution</span>
      </td>
      <td></td>
    </tr>
    <tr>
      <th>Donnerstag</th>
      <td class="b">
        <span>Elden Ring</span>
      </td>
      <td></td>
    </tr>
    <tr>
      <th>Freitag</th>
      <td class="a">
        <span>Evolution</span>
      </td>
      <td></td>
    </tr>
    <tr>
      <th>Samstag</th>
      <td></td>
      <td class="s">
        <span>Special</span>
        <span class="sub">Random Projekte wie Let's Tests, Commentaries, Info-Videos, Edits, ...</span>
      </td>
    </tr>
    <tr>
      <th>Sonntag</th>
      <td class="b">
        <span>Elden Ring</span>
      </td>
      <td></td>
    </tr>
  </tbody>
</table>
