@import url("https://api.fonts.coollabs.io/css2?family=Geist+Mono:wght@400,600&display=swap");
@import url("https://languages.ranna.dev/languages.bg.css");

:root {
  --clr-background-1: #222222;
  --clr-text: #dbdbdb;
  --clr-text-2: hsl(from var(--clr-text) h s l / 0.7);
  --clr-accent: #e5385e;
  --clr-highlight: var(--clr-accent);
}

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  display: flex;

  background-color: var(--clr-background-1);
  font-family: "Geist Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1rem;
  font-weight: 400;
  color: var(--clr-text);
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 52em;
  margin: 0 auto;
  padding: 1.5em 1em 1em 1em;
}

body::-webkit-scrollbar {
  width: 0.6em;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  border-left: 2px solid hsl(from var(--clr-text) h s l / 1);
}

a {
  color: inherit;
  text-decoration-line: none;
  cursor: pointer;
  text-decoration-thickness: 10%;
  text-decoration-line: underline;
  text-decoration-color: var(--clr-text-2);

  &:hover {
    text-decoration-color: var(--clr-text);
  }
}

h1 {
  font-size: 3em;
  margin: 0.5em 0;
  text-decoration-line: underline;
  text-decoration-thickness: 12%;
  text-underline-offset: 25%;
  text-shadow: -5px 4px var(--clr-accent);
}

main {
  padding: 0 1em;
  line-height: 1.6;
}

footer {
  margin-top: auto;
  padding: 2em 0 1em 0;
  font-size: 0.8em;
  color: var(--clr-text-2);

  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

ul > li {
  list-style-type: square;
}

@keyframes target-highlight {
  0% {
    background-color: hsl(from var(--clr-highlight) h s l / 0);
  }
  50% {
    background-color: hsl(from var(--clr-highlight) h s l / 0.2);
  }
  100% {
    background-color: hsl(from var(--clr-highlight) h s l / 0);
  }
}

:target {
  animation: target-highlight 1.5s ease-in-out;
}

.emoji-heading {
  display: flex;
  gap: 1em;
  align-items: center;

  > h1:last-child {
    text-decoration: none;
    text-shadow: none;
  }
}

.dimm {
  color: var(--clr-text-2);
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6em;

  background-color: var(--clr-text);
  color: var(--clr-background-1);
  padding: 0.2em 0.4em;

  & a.active {
    color: var(--clr-accent);
    text-decoration-line: underline;
    text-decoration-color: var(--clr-accent);
    font-weight: 600;
  }

  > .logo {
    height: 1.25em;
    img {
      aspect-ratio: 1;
      height: 100%;
    }
  }
}

.column-view {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1em;

  @media only screen and (orientation: portrait) {
    grid-template-columns: auto;
  }
}

.project-list {
  margin-top: 2em;
}

.project-tile {
  display: flex;
  flex-direction: column;
  border: solid 1px var(--clr-text);
  padding: 0.6em;

  text-decoration: none !important;
  &:hover h3 {
    text-decoration: underline;
  }

  > h3 {
    margin: 0;
  }

  .langs {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    flex-wrap: wrap;

    > div {
      margin-right: 0.8em;
      > div {
        display: inline-block;
        width: 0.7em;
        height: 0.7em;
      }
    }
  }
}

.latest-videos {
  > * {
    width: 100%;
    aspect-ratio: 16/9;
  }
}

#blogposts {
  > a {
    border: solid 1px var(--clr-text);
    padding: 0.7em;

    text-decoration: none !important;
    &:hover h3 {
      text-decoration: underline;
    }

    > h3,
    p {
      margin: 0.3em 0 0 0;
    }

    > div {
      width: 100%;
      aspect-ratio: 16/8;
      background-size: cover;
      background-position: center;
    }

    > p {
      font-size: 0.8em;
    }
  }
}

.second-nav {
  display: flex;
  gap: 0.7em;
  flex-wrap: wrap;

  /* Little hack to hide the first element,
     which should be the current page. */
  > *:first-child {
    display: none;
  }

  > * {
    border: solid 1px var(--clr-text);
    padding: 0.2em 0.4em;
  }
}

.photos-grid {
  > a {
    position: relative;

    &::after {
      content: "Click to see full image and more info!";
      position: absolute;
      top: 0.4em;
      left: 0.4em;
      opacity: 0;
      background-color: var(--clr-background-1);
      padding: 0.2em 0.4em;
      border: solid 1px var(--clr-text);
      font-size: 0.8rem;
    }

    &:hover::after {
      opacity: 0.75;
    }

    > div {
      width: 100%;
      aspect-ratio: 4/6;
      background-size: cover;
      background-position: center;
    }
  }
}

.link-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
  list-style: none;
  padding: 0;

  > li {
    list-style: none;

    > a {
      display: flex;
      align-items: center;
      gap: 0.8em;
      border: solid 1px var(--clr-text);
      padding: 0.6em 0.8em;

      text-decoration: none;
      &:hover {
        text-decoration: underline;
        background-color: hsl(from currentColor h s l / 0.1);
      }
    }

    img {
      height: 1.5em;
    }
  }
}
